<%-include('_partials/_header.ejs')%>
<%-include('_partials/_nav.ejs')%>

<div class="card text-center mt-2 mb-2">
    <div class="card-header">
        Pago de recibo
    </div>
    <div class="card-body">
        <form class="row g-3" action="/index" method="post">
            <div class="col-md-6">
                <label for="inputRecibo" class="form-label">Número de recibo</label>
                <input type="number" class="form-control" id="inputRecibo" name="inputRecibo" placeholder="000000000" required>
            </div>
            <div class="col-md-6">
                <label for="inputNombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="inputNombre" name="inputNombre" placeholder="Alexis Tirado" required>
            </div>
            <div class="col-12">
                <label for="inputDomicilio" class="form-label">Domicilio</label>
                <input type="text" class="form-control" id="inputDomicilio" name="inputDomicilio" placeholder="Carretera Municipal Libre Lote Higueras-Km 3, 82190 Mazatlán, Sin." required>
            </div>
            <div class="col-md-6">
                <label for="inputServicio" class="form-label">Tipo de servicio</label>
                <select id="inputServicio" name="inputServicio" class="form-select" required>
                    <option selected value="1">Domestico</option>
                    <option value="2">Comercial</option>
                    <option value="3">Industrial</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="inputKilowatts" class="form-label">Kilowatts consumidos</label>
                <input type="number" class="form-control" name="inputKilowatts" id="inputKilowatts" placeholder="000" required>
            </div>
            <div class="col-12">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="submit" class="btn btn-outline-success">Enviar</button>
                    <button type="reset" class="btn btn-outline-danger" >Limpiar</button>                    
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer text-body-secondary">
       Ing. Alexis Antonio Tirado Ontiveros
    </div>
</div>

<%-include('_partials/_footer.ejs')%>
</body>

</html>