<%-include('_partials/_header.ejs')%>
<%-include('_partials/_nav.ejs')%>

<div class="card text-center mt-2 mb-2">
    <div class="card-header" style="background-color: #008e6133;">
        <strong>Folio de recibo: </strong><%=inputRecibo%>
    </div>

    <div class="card-body">
        <table class="table">
            <thead >
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo de Servicio</th>
                    <th scope="col">Kilowatts consumidos</th>
                    <th scope="col">Costo por Kilowatts</th>
                </tr>
            </thead>

            <!-- Cálculos -->
                <%
                    let subtotal = 0, precioKilowatts = 0, descuento = 0, total = 0;
                
                    switch(inputServicio){
                        case "1": 
                            precioKilowatts = 1.08;
                        break;
                        case "2": 
                            precioKilowatts = 2.5;
                        break;
                        case "3": 
                            precioKilowatts = 3.0;
                        break;
                    }

                    subtotal = (precioKilowatts * inputKilowatts).toFixed(2); 
                    impuesto = parseFloat(subtotal * 0.16).toFixed(2);

                    if(inputKilowatts > 0 && inputKilowatts <= 1000)
                        descuento = (subtotal * 0.10).toFixed(2);
                    else if(inputKilowatts > 1000 && inputKilowatts <=10000 )
                        descuento = (subtotal * 0.20).toFixed(2);
                    else if(inputKilowatts > 10000)
                        descuento = (subtotal * 0.50).toFixed(2);

                    total = parseFloat(subtotal - descuento);

                    total += parseFloat(impuesto);

                    let tipo;

                    switch(inputServicio){
                        case "1": 
                            tipo = "Domestico";
                        break;
                        case "2": 
                            tipo = "Comercial";
                        break;
                        case "3": 
                            tipo = "Industrial";
                        break;
                    }
                %>

            <tbody>
                <tr>
                    <td scope="row"><%= inputNombre %></td>
                    <td><%= tipo %></td>
                    <td><%= inputKilowatts %></td>
                    <td><%= precioKilowatts %></td>
                </tr>
            </tbody>
        </table>
        <br>
        <div class="row">
            <div class="col">
                <img src="/img/energia.jpg" alt="Amlo_CFE" width="100%" heigth="300px">
            </div>
            <div class="col-8 border">
                <center>
                    <h3 class="titulo mt-3"><strong>RESULTADOS</strong></h3>
                </center>
                <form class="mt-3">
                    <div class="row mb-3">
                        <div class="input-group">
                            <label for="subtotal" class="col-sm-2 col-form-label">Subtotal</label>
                            <div class="input-group-text">$</div>
                            <input type="number" class="form-control" disabled id="autoSizingInputGroup"
                                value=<%=subtotal%> readonly>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="input-group">
                            <label for="Impuesto" class="col-sm-2 col-form-label">Impuesto</label>
                            <div class="input-group-text">$</div>
                            <input type="text" class="form-control" disabled id="autoSizingInputGroup" value=<%=impuesto%>
                                readonly>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="input-group">
                            <label for="Descuento" class="col-sm-2 col-form-label">Descuento</label>
                            <div class="input-group-text">$</div>
                            <input type="text" class="form-control" disabled id="autoSizingInputGroup" value=<%=descuento%> readonly>
                        </div>
                    </div>
                    <div class="input-group">
                        <label for="total" class="col-sm-2 col-form-label">Total a pagar</label>
                        <div class="input-group-text">$</div>
                        <input type="text" class="form-control" disabled id="autoSizingInputGroup" value=<%=total%> readonly>
                    </div>
            </div>
            </form>
        </div>
    </div>
    <div class="card-footer text-body-secondary" style="background-color: #008e6133;">
        Ing. Alexis Antonio Tirado Ontiveros
    </div>
</div>

<%-include('_partials/_footer.ejs')%>
</body>

</html>